		.topo{
			position: fixed;
		}

		#circulo{
			width: 9%;
			height: 18%;
			background: #E1B083;
			border-radius: 80%;
			margin-left: 45%;
			position: absolute;
			margin-top: 2%;
			
		}
		#livro{
			width: 70%;
			height: 70%;
			margin-left: 14%;
			margin-top: 13%;
		}
		#bib{
			font-family: Arial;
			font-size: 270%;
			color: #C48D60;
			margin-left: 30.5%;
			margin-top: 5%;
			position: absolute;

		}
		#tho{
			font-family: Arial;
			font-size: 270%;
			color: #C48D60;
			margin-left: 54.6%;
			margin-top: 5%;
			position: absolute;

		}
		#qua{
			font-family: Arial;
			font-size: 270%;
			text-align: center;
			width: 100%;
			color: white;
			margin-top: 13%;
			position: absolute;
			background: #C48D60;
		}
		#book{
			margin-left: 7%;
			margin-top: 20%;  
			position: absolute;
			padding: 0.5vw;
		}
		#eneida{
			margin-left: 29.5%;
			margin-top: 20%;  
			position: absolute;
			padding: 0.5vw;
		}
		#odisseia{
			margin-left: 52%;
			margin-top: 20%;  
			position: absolute;
			padding: 0.5vw;
		}
		#iliada{
			margin-left: 74%;
			margin-top: 20%;  
			position: absolute;
			padding: 0.5vw;
		}
		#paraiso{
			margin-left: 7%;
			margin-top: 60%;  
			position: absolute;
			padding: 0.5vw;
		}
		#colmedia{
			margin-left: 29.5%;
			margin-top: 60%;  
			position: absolute;
			padding: 0.5vw;
		}
		#beowoulf{
			margin-left: 52%;
			margin-top: 60%;  
			position: absolute;
			padding: 0.5vw;
		}
		#anel{
			margin-left: 74%;
			margin-top: 60%;  
			position: absolute;
			padding: 0.5vw;
		}
		#mahabharata{
			margin-left: 7%;
			margin-top: 100%;  
			position: absolute;
			padding: 0.5vw;
		}
		#gilga{
			margin-left: 29.5%;
			margin-top: 100%;  
			position: absolute;
			padding: 0.5vw;
		}
		#tavola{
			margin-left: 52%;
			margin-top: 100%;  
			position: absolute;
			padding: 0.5vw;
		}
		#cancao{
			margin-left: 74%;
			margin-top: 100%;  
			position: absolute;
			padding: 0.5vw;
		}
		#njal{
			margin-left: 7%;
			margin-top: 140%;  
			position: absolute;
			padding: 0.5vw;
		}
		#panta{
			margin-left: 29.5%;
			margin-top: 140%;  
			position: absolute;
			padding: 0.5vw;
		}
		#ines{
			margin-left: 52%;
			margin-top: 140%;  
			position: absolute;
			padding: 0.5vw;
		}
		#inferno{
			margin-left: 74%;
			margin-top: 140%;  
			position: absolute;
			padding: 0.5vw;
		}
		#diabo{
			margin-left: 7%;
			margin-top: 180%;  
			position: absolute;
			padding: 0.5vw;
		}
		#muie{
			margin-left: 29.5%;
			margin-top: 180%;  
			position: absolute;
			padding: 0.5vw;
		}
		#torto{
			margin-left: 52%;
			margin-top: 180%;  
			position: absolute;
			padding: 0.5vw;
		}
		#sangue{
			margin-left: 74%;
			margin-top: 180%;  
			position: absolute;
			padding: 0.5vw;
		}
		#shhh{
			margin-left: 7%;
			margin-top: 220%;  
			position: absolute;
			padding: 0.5vw;
		}
		#pride{
			margin-left: 29.5%;
			margin-top: 220%;  
			position: absolute;
			padding: 0.5vw;
		}
		#flores{
			margin-left: 52%;
			margin-top: 220%;  
			position: absolute;
			padding: 0.5vw;
		}
		#quac{
			margin-left: 74%;
			margin-top: 220%;  
			position: absolute;
			padding: 0.5vw;
		}


#botao{
	margin: 2%;
}

		#SaibaMais{
			text-decoration: none;
			color: white;
		}